In [8]:
import pandas as pd
import numpy as np
import os
import sys
import pysam
import pairtools
import pairtools.lib.headerops as phead

In [34]:
np.median([1, 1, 1, 1, 1, 1])

1.0

In [32]:
pairs_path = '/scratch/indikar_root/indikar1/shared_data/minimal/expanded/pairs/batch02.GRCm39.expanded.pairs'

def load_pairs(fpath, comment_char="#"):
    """Loads a pairs table from a tab-separated file.

    Args:
        fpath (str): The file path to the pairs table.
        comment_char (str, optional): The character indicating comment lines. 
                                     Defaults to "#".

    Returns:
        pd.DataFrame: A Pandas DataFrame containing the pairs table data.
    """
    header = phead.get_header(open(pairs_path))[0][-1]
    header = header.replace("#columns: ", "")
    header = header.split(" ")
    
    df = pd.read_csv(fpath, 
                     sep='\t', 
                     header=None, 
                     names=header, 
                     comment="#")
    return df


df = load_pairs(pairs_path)
print(f"{df.shape=}")
df.head()

df.shape=(355580, 24)

,readID,chrom1,pos1,chrom2,pos2,strand1,strand2,pair_type,mapq1,mapq2,...,algn_ref_span1,algn_ref_span2,matched_bp1,matched_bp2,rfrag1,rfrag_start1,rfrag_end1,rfrag2,rfrag_start2,rfrag_end2
0,1db0f7e1-ebe4-4ec4-964b-232684bcb7d8,!,0,10,107824721,-,-,NU,0,60,...,0,174,0,173,-1,0,0,507656,107824710,107824727
1,1db0f7e1-ebe4-4ec4-964b-232684bcb7d8,!,0,!,0,-,-,NN,0,0,...,0,0,0,0,-1,0,0,-1,0,0
2,1db0f7e1-ebe4-4ec4-964b-232684bcb7d8,10,107824703,!,0,-,-,UN,31,0,...,154,0,151,0,507655,107824356,107824710,-1,0,0
3,3f728326-b684-4bff-8cb4-b8fa788f0b9c,!,0,!,0,-,-,NN,0,0,...,0,0,0,0,-1,0,0,-1,0,0
4,3f728326-b684-4bff-8cb4-b8fa788f0b9c,!,0,!,0,-,-,NN,0,0,...,0,0,0,0,-1,0,0,-1,0,0

In [33]:
pairs_path = '/scratch/indikar_root/indikar1/shared_data/minimal/direct/pairs/batch02.GRCm39.direct.pairs'

df2 = load_pairs(pairs_path)
print(f"{df2.shape=}")
df2.head()

df2.shape=(239511, 24)

,readID,chrom1,pos1,chrom2,pos2,strand1,strand2,pair_type,mapq1,mapq2,...,algn_ref_span1,algn_ref_span2,matched_bp1,matched_bp2,rfrag1,rfrag_start1,rfrag_end1,rfrag2,rfrag_start2,rfrag_end2
0,1db0f7e1-ebe4-4ec4-964b-232684bcb7d8,!,0,10,107824721,-,-,NU,0,60,...,0,174,0,173,-1,0,0,507656,107824710,107824727
1,1db0f7e1-ebe4-4ec4-964b-232684bcb7d8,10,107824703,!,0,-,-,UN,31,0,...,154,0,151,0,507655,107824356,107824710,-1,0,0
2,3f728326-b684-4bff-8cb4-b8fa788f0b9c,!,0,!,0,-,-,NN,0,0,...,0,0,0,0,-1,0,0,-1,0,0
3,3f728326-b684-4bff-8cb4-b8fa788f0b9c,!,0,!,0,-,-,NN,0,0,...,0,0,0,0,-1,0,0,-1,0,0
4,fe711c6c-c5ab-41fb-9e7d-96ac7c38ab17,!,0,!,0,-,-,XX,0,0,...,0,0,0,0,-1,0,0,-1,0,0

In [23]:
df.columns

Index(['readID', 'chrom1', 'pos1', 'chrom2', 'pos2', 'strand1', 'strand2',
       'pair_type', 'mapq1', 'mapq2', 'read_len1', 'read_len2',
       'algn_read_span1', 'algn_read_span2', 'algn_ref_span1',
       'algn_ref_span2', 'matched_bp1', 'matched_bp2', 'rfrag1',
       'rfrag_start1', 'rfrag_end1', 'rfrag2', 'rfrag_start2', 'rfrag_end2'],
      dtype='object')

In [30]:
columns = [
    'readID',
    'mapq1',
    'mapq2',
    'read_len1', 
    'read_len2',
    'algn_read_span1',
    'algn_read_span2',
]

df[columns].head()

,readID,mapq1,mapq2,read_len1,read_len2,algn_read_span1,algn_read_span2
0,1db0f7e1-ebe4-4ec4-964b-232684bcb7d8,0,60,0,205,0,175
1,1db0f7e1-ebe4-4ec4-964b-232684bcb7d8,0,0,0,0,0,0
2,1db0f7e1-ebe4-4ec4-964b-232684bcb7d8,31,0,160,0,159,0
3,3f728326-b684-4bff-8cb4-b8fa788f0b9c,0,0,0,0,0,0
4,3f728326-b684-4bff-8cb4-b8fa788f0b9c,0,0,0,0,0,0

In [31]:

df2[columns].head()

,readID,mapq1,mapq2,read_len1,read_len2,algn_read_span1,algn_read_span2
0,1db0f7e1-ebe4-4ec4-964b-232684bcb7d8,0,60,0,205,0,175
1,1db0f7e1-ebe4-4ec4-964b-232684bcb7d8,31,0,160,0,159,0
2,3f728326-b684-4bff-8cb4-b8fa788f0b9c,0,0,0,0,0,0
3,3f728326-b684-4bff-8cb4-b8fa788f0b9c,0,0,0,0,0,0
4,fe711c6c-c5ab-41fb-9e7d-96ac7c38ab17,0,0,0,0,0,0

In [14]:
df['pair_type'].value_counts()

pair_type
UU    377163
NU    160121
NN    102132
UN    102092
MU     18110
UM     17870
NM      9476
MN      6533
MM      4133
Name: count, dtype: int64

In [ ]:
pairs_path = '/scratch/indikar_root/indikar1/shared_data/pore_c_population_minimal/pairs/batch02.GRCm39.expanded.pairs.gz'

In [19]:
dpath = "/scratch/indikar_root/indikar1/shared_data/pore_c_population_minimal/pairs/batch02.GRCm39.expanded.pairs"

for f in os.listdir(dpath):
    fpath = f"{dpath}{f}"
    print(f)

    tmp = pd.read_parquet(fpath)
    break

batch01.GRCm39.expanded.pairs.gz

OSError: [Errno 22] Invalid argument

In [13]:
tmp.head()

,read_name,mean_mapq,min_mapq,order,n_chroms,expanded_pairs,expanded_cis,direct_pairs,direct_cis
0,00000b61-7794-4b29-9f89-2b74e7bbce3e,30.857143,0,7,7,21,0,1,0
1,000047b3-2703-4687-9978-37722f5619da,60.000000,60,4,4,6,6,3,3
2,00007dd4-078c-4ed8-9c1b-5694ebe33ef2,13.000000,0,9,9,36,6,6,2
3,0000f4d3-0cbf-4904-8ac4-079b3aafb2d4,20.000000,0,6,6,15,0,1,0
4,0002e105-2bde-491a-8d43-53d8d91ca99f,33.800000,1,5,5,10,2,4,1

In [16]:
align_path = "/scratch/indikar_root/indikar1/shared_data/pore_c_population_minimal/align_table/batch02.GRCm39.align_table.parquet"

df = pd.read_parquet(align_path)
df.shape

(907344, 15)

In [17]:
t = df[df['read_name'] == '00000b61-7794-4b29-9f89-2b74e7bbce3e']
t

,read_name,align_id,read_start,read_end,length_on_read,chrom,ref_start,ref_end,fragment_id,fragment_start,fragment_end,fragment_length,monomer_duplicate,is_mapped,mapping_quality
0,00000b61-7794-4b29-9f89-2b74e7bbce3e,4879,0,8,8,NaN,-1,NaN,NaN,NaN,NaN,NaN,False,False,0
1,00000b61-7794-4b29-9f89-2b74e7bbce3e,4880,8,400,392,15,40952485,40952851.0,9795761.0,40952505.0,40952862.0,357.0,False,True,60
2,00000b61-7794-4b29-9f89-2b74e7bbce3e,4881,400,553,153,1,153345218,153345369.0,726712.0,153345224.0,153345375.0,151.0,False,True,60
3,00000b61-7794-4b29-9f89-2b74e7bbce3e,4882,553,611,58,NaN,-1,NaN,NaN,NaN,NaN,NaN,False,False,0
4,00000b61-7794-4b29-9f89-2b74e7bbce3e,4883,611,759,148,16,13896976,13897125.0,10167250.0,13896982.0,13897055.0,73.0,False,True,36
5,00000b61-7794-4b29-9f89-2b74e7bbce3e,4884,759,810,51,NaN,-1,NaN,NaN,NaN,NaN,NaN,False,False,0
6,00000b61-7794-4b29-9f89-2b74e7bbce3e,4885,810,1110,300,4,99871359,99871640.0,3005929.0,99871361.0,99871646.0,285.0,False,True,60

In [18]:
t['chrom'].unique()

[NaN, '15', '1', '16', '4']
Categories (57, object): ['1', '10', '11', '12', ..., 'MU069434.1', 'MU069435.1', 'X', 'Y']