In [1]:
import os
import sys
import pandas as pd
import numpy as np
import glob
import time
import gget
import scipy
from scipy.sparse import csr_matrix
import anndata as an
import scanpy as sc
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.patches as mpatches
import matplotlib.cm as cm
from pycirclize import Circos
import networkx as nx
import random
from importlib import reload
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.preprocessing import MultiLabelBinarizer
import warnings
import ot
from scipy.spatial.distance import pdist, squareform
from matplotlib.colors import ListedColormap

import surprise as sup

from sklearn.decomposition import TruncatedSVD
from sklearn.preprocessing import MinMaxScaler

"""WARNING: no warnings"""
warnings.filterwarnings("ignore")

# local imports
import anndata_utils as anntools

source_path = os.path.abspath("../source/")
sys.path.append(source_path)
import centrality as central
import matrix
import utils as ut
import plotting as plt2

# Load the duplicate reports

In [2]:
resolution = 1000000
dpath = f"/scratch/indikar_root/indikar1/shared_data/higher_order/duplicates/singlecell_mESC_{resolution}_chr*.parquet"
file_list = glob.glob(dpath)
print(f"n files: {len(file_list)}")

df = []

for fpath in file_list:
    chrom = os.path.basename(fpath).split("_")[3].split(".")[0]
    print(f"{chrom}...")
    tmp = pd.read_parquet(fpath)
    tmp['chrom'] = chrom
    df.append(tmp)

df = pd.concat(df)
df = df.sort_values(by=['read_id', 'mapping_quality'], ascending=[True, False])
df = df.drop_duplicates(subset=['read_id', 'cell_id'])

print(df['unique'].value_counts())
print(f"{df.shape=}")
df.head()

n files: 20
chr17...
chr9...
chr6...
chr18...
chr4...
chr10...
chr13...
chr5...
chr1...
chr19...
chr8...
chr15...
chr14...
chr2...
chr12...
chrX...
chr11...
chr7...
chr16...
chr3...
unique
False    10563377
True       339359
Name: count, dtype: int64
df.shape=(10902736, 8)

,read_id,mapping_quality,cell_id,exactly_unique,approximately_unique,read_group,unique,chrom
280077,00000181-a315-4a91-b680-96ca3b00eef2,30.000000,o1b71,False,False,17,False,chr7
298588,00000450-c609-417b-b21e-262221da074a,45.222222,o1b47,False,False,2,False,chr6
919049,0000075a-0236-46a1-9c08-def49bf4c756,60.000000,o4b67,False,False,515,False,chr6
786323,00000c30-afa4-4cdb-8802-0659c5f6dd1c,54.272727,o3b54,False,False,287,False,chr6
841533,00000c5a-e3a8-4211-bb87-0909050f8b27,43.428571,o1b64,False,False,59,False,chr2

In [3]:
outpath = f"/scratch/indikar_root/indikar1/shared_data/higher_order/duplicate_table/singlecell_mESC_{resolution}_dupes.parquet"

df.to_parquet(outpath)
df.head()

,read_id,mapping_quality,cell_id,exactly_unique,approximately_unique,read_group,unique,chrom
280077,00000181-a315-4a91-b680-96ca3b00eef2,30.000000,o1b71,False,False,17,False,chr7
298588,00000450-c609-417b-b21e-262221da074a,45.222222,o1b47,False,False,2,False,chr6
919049,0000075a-0236-46a1-9c08-def49bf4c756,60.000000,o4b67,False,False,515,False,chr6
786323,00000c30-afa4-4cdb-8802-0659c5f6dd1c,54.272727,o3b54,False,False,287,False,chr6
841533,00000c5a-e3a8-4211-bb87-0909050f8b27,43.428571,o1b64,False,False,59,False,chr2

In [4]:
break

SyntaxError: 'break' outside loop (668683560.py, line 1)