In [1]:
import pandas as pd
import sys
import os
import numpy as np

In [2]:
fpath = "/scratch/indikar_root/indikar1/shared_data/single_cell/align_table/o1b03.GRCm39.align_table.parquet"
df = pd.read_parquet(fpath)
df.head()

,read_name,align_id,read_start,read_end,length_on_read,chrom,ref_start,ref_end,fragment_id,fragment_start,fragment_end,fragment_length,monomer_duplicate,is_mapped,mapping_quality
0,00004092-a2d0-41bd-8e25-8ce9ee5b4865,1669938,0,598,598,8,95226772,95227254.0,5889561.0,95226708.0,95227261.0,553.0,False,True,60
1,00004092-a2d0-41bd-8e25-8ce9ee5b4865,1669939,598,623,25,NaN,-1,NaN,NaN,NaN,NaN,NaN,False,False,0
2,00004092-a2d0-41bd-8e25-8ce9ee5b4865,1669940,623,660,37,NaN,-1,NaN,NaN,NaN,NaN,NaN,False,False,0
3,00004092-a2d0-41bd-8e25-8ce9ee5b4865,1669941,660,769,109,8,34186315,34186421.0,5595931.0,34186317.0,34186423.0,106.0,False,True,31
4,00004092-a2d0-41bd-8e25-8ce9ee5b4865,1669942,769,1004,235,2,98497397,98497575.0,1394037.0,98497399.0,98497633.0,234.0,False,True,0

In [4]:
read_name = '1c2707ef-c977-4a14-956f-b164227f6098'

pdf = df[df['read_name'] == read_name]
pdf.shape

(18, 15)

In [8]:
pdf[['read_start', 'read_end', 'chrom', 'ref_start', 'ref_end', 'fragment_id']]

        read_start  read_end chrom  ref_start      ref_end  fragment_id
216075           0        30   NaN         -1          NaN          NaN
216076          30       145   NaN         -1          NaN          NaN
216077         145       363   NaN         -1          NaN          NaN
216078         363       416   NaN         -1          NaN          NaN
216079         416       537     6  103626081  103626201.0    4506928.0
216080         537       674     3   32948155   32948292.0    1947272.0
216081         674       828    14   80281076   80281230.0    9408883.0
216082         828       924    18   19696969   19697065.0   11104349.0
216083         924       963   NaN         -1          NaN          NaN
216084         963      1032   NaN         -1          NaN          NaN
216085        1032      1188     2   38639592   38639731.0    1115397.0
216086        1188      1327     3  122379591  122379732.0    2369530.0
216087        1327      1489     3  122379732  122379894.0    2369531.0
216088        1489      1613     3  122379894  122380017.0    2369532.0
216089        1613      1651   NaN         -1          NaN          NaN
216090        1651      1659   NaN         -1          NaN          NaN
216091        1659      1889     2   87682408   87682638.0    1343326.0
216092        1889      2306    11   48990788   48991182.0    7509792.0

In [7]:
pdf.columns

Index(['read_name', 'align_id', 'read_start', 'read_end', 'length_on_read',
       'chrom', 'ref_start', 'ref_end', 'fragment_id', 'fragment_start',
       'fragment_end', 'fragment_length', 'monomer_duplicate', 'is_mapped',
       'mapping_quality'],
      dtype='object')