In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import sys
import os
import glob

In [6]:
dpath = "/scratch/indikar_root/indikar1/shared_data/single_cell/align_table/"
file_list = glob.glob(f"{dpath}*")
# shuffle 'em'
np.random.shuffle(file_list)
file_list[:10]

['/scratch/indikar_root/indikar1/shared_data/single_cell/align_table/o3b70.GRCm39.align_table.parquet',
 '/scratch/indikar_root/indikar1/shared_data/single_cell/align_table/o2b39.GRCm39.align_table.parquet',
 '/scratch/indikar_root/indikar1/shared_data/single_cell/align_table/o1b27.GRCm39.align_table.parquet',
 '/scratch/indikar_root/indikar1/shared_data/single_cell/align_table/o1b35.GRCm39.align_table.parquet',
 '/scratch/indikar_root/indikar1/shared_data/single_cell/align_table/o3b31.GRCm39.align_table.parquet',
 '/scratch/indikar_root/indikar1/shared_data/single_cell/align_table/o3b86.GRCm39.align_table.parquet',
 '/scratch/indikar_root/indikar1/shared_data/single_cell/align_table/o4b34.GRCm39.align_table.parquet',
 '/scratch/indikar_root/indikar1/shared_data/single_cell/align_table/o1b03.GRCm39.align_table.parquet',
 '/scratch/indikar_root/indikar1/shared_data/single_cell/align_table/o4b86.GRCm39.align_table.parquet',
 '/scratch/indikar_root/indikar1/shared_data/single_cell/align_table/o3b95.GRCm39.align_table.parquet']

In [28]:
sample_size = 10

result = []

for i, file_path in enumerate(file_list[:sample_size]):

    basename = os.path.basename(file_path)
    sample_id = basename[:2]
    file_id = basename[2:5]
    df = pd.read_parquet(file_path)
    df['basename'] = basename
    df['sample_id'] = sample_id
    df['file_id'] = file_id
    result.append(df)
    
    
result = pd.concat(result)
result.head()

,read_name,align_id,read_start,read_end,length_on_read,chrom,ref_start,ref_end,fragment_id,fragment_start,fragment_end,fragment_length,monomer_duplicate,is_mapped,mapping_quality,basename,sample_id,file_id
0,0000c88b-5ce6-4cbe-b43a-e86046880f03,348105,0,136,136,8,53499951,53500088.0,5687473.0,53499951.0,53500090.0,139.0,False,True,60,o3b70.GRCm39.align_table.parquet,o3,b70
1,0000c88b-5ce6-4cbe-b43a-e86046880f03,348106,136,237,101,2,27183948,27184049.0,1056985.0,27183950.0,27184051.0,101.0,False,True,60,o3b70.GRCm39.align_table.parquet,o3,b70
2,0000c88b-5ce6-4cbe-b43a-e86046880f03,348107,237,925,688,8,89168685,89169370.0,5858296.0,89168687.0,89169372.0,685.0,False,True,60,o3b70.GRCm39.align_table.parquet,o3,b70
3,0000c88b-5ce6-4cbe-b43a-e86046880f03,348108,925,1159,234,2,98497393,98497627.0,1394037.0,98497399.0,98497633.0,234.0,False,True,10,o3b70.GRCm39.align_table.parquet,o3,b70
4,0000c88b-5ce6-4cbe-b43a-e86046880f03,348109,1159,1393,234,2,98497393,98497627.0,1394037.0,98497399.0,98497633.0,234.0,False,True,1,o3b70.GRCm39.align_table.parquet,o3,b70

In [33]:
random_read = result['read_name'].sample(1).values[0]

columns = [
    'read_name',
    'read_start',
    'read_end',
    'chrom',
    'fragment_id',
    'mapping_quality',
]

read_df = result[result['read_name'] == random_read]
read_df[columns]

,read_name,read_start,read_end,chrom,fragment_id,mapping_quality
261886,9f4ef07d-6439-45b7-9ffd-4e4831220c30,0,380,16,10398314.0,60
261887,9f4ef07d-6439-45b7-9ffd-4e4831220c30,380,455,16,10398332.0,50
261888,9f4ef07d-6439-45b7-9ffd-4e4831220c30,455,995,16,10398333.0,60
261889,9f4ef07d-6439-45b7-9ffd-4e4831220c30,995,1037,NaN,NaN,0
261890,9f4ef07d-6439-45b7-9ffd-4e4831220c30,1037,1279,1,490211.0,60
261891,9f4ef07d-6439-45b7-9ffd-4e4831220c30,1279,1322,NaN,NaN,0
261892,9f4ef07d-6439-45b7-9ffd-4e4831220c30,1322,1355,NaN,NaN,0
261893,9f4ef07d-6439-45b7-9ffd-4e4831220c30,1355,1495,14,9091010.0,0